/* app css stylesheet */
body { padding-top: 70px; }
.logo {
  height:40px;
  margin-top:-10px;
  float:left;
  padding-right:15px;
}

.removeButton {
  float:right;
  height:30px;
  margin-top: -5px;
  width:30px;
  margin-right: -5px;
}

.leftPanel {
  padding-left:40px;
}

.rightPanel {
  padding-right:40px;
}
