/* app css stylesheet */
body { padding-top: 70px; }
.logo {
  height:40px;
  margin-top:-10px;
  float:left;
  padding-right:15px;
}

.removeButton {
  float:right;
  height:30px;
  margin-top: -5px;
  width:30px;
  margin-right: -5px;
  padding-right:20px;
}

.leftPanel {
  padding-left:40px;
}

.rightPanel {
  padding-right:40px;
}

/*.col-sm-10, .col-sm-1, .col-sm-2, .col-sm-11{
  padding-bottom:20px;
}*/
