/*!CK:752911354!*//*1425396278,*/

.sp_fZG57CUdp5q{background-image:url(//fbstatic-a.akamaihd.net/rsrc.php/v2/yF/r/i7_GAlZO1H5.png);background-size:16px 94px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_fZG57CUdp5q.sx_a2dc92{background-position:0 0}.sp_fZG57CUdp5q.sx_81590c{background-position:0 -16px}.sp_fZG57CUdp5q.sx_e34820{background-position:0 -32px}.sp_fZG57CUdp5q.sx_20ee7b{background-position:0 -48px}.sp_fZG57CUdp5q.sx_b40c86{background-position:0 -64px}.sp_fZG57CUdp5q.sx_694c9a{width:12px;height:12px;background-position:0 -80px}

#bootloader_0A67q { height: 42px; }
.bootloader_0A67q { display:block !important; }