/*!CK:657757317!*//*1423693956,*/

.sp_DSUGLgQ9vfO{background-image:url(//fbstatic-a.akamaihd.net/rsrc.php/v2/yZ/r/rQs_RZpYkav.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_DSUGLgQ9vfO.sx_63b0e2{background-position:0 0}.sp_DSUGLgQ9vfO.sx_fff1dc{background-position:0 -18px}

#bootloader_Dq_Mn { height: 42px; }
.bootloader_Dq_Mn { display:block !important; }