/*!CK:4160835388!*//*1422321547,*/

.sp_6ygH7u_azIA{background-image:url(//fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/1CQiRpDilyZ.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_6ygH7u_azIA.sx_a967d7{background-position:0 0}.sp_6ygH7u_azIA.sx_613027{background-position:0 -18px}

#bootloader_JvhLh { height: 42px; }
.bootloader_JvhLh { display:block !important; }